In [1]:
import sklearn as sk
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

### Importing the data
first we view the head of the data set so we can have a look which colums we are going to use for the algorithm

In [2]:
df = pd.read_csv('student-por.csv', sep=',')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

 we see that the dataset contains 33 colums, all of the colums are explained on kaggle. the one column we are going to predict is romantic. we pick the next 6 variables:

In [3]:
df = df[['age', 'famrel', 'freetime', 'Medu', 'Fedu' , 'absences','romantic']]

The reason these 6 variables are choosen is because i believe people are (of course) a little the same as there parents so the status of the mother and father relationship can have a big impact

In [4]:
df.head()

   age  famrel  freetime  Medu  Fedu  absences romantic
0   18       4         3     4     4         4       no
1   17       5         3     1     1         2       no
2   15       4         3     1     1         6       no
3   15       3         2     4     2         0      yes
4   16       4         3     3     3         0       no

In [5]:
df['romantic'].value_counts()

no     410
yes    239
Name: romantic, dtype: int64

in the upper stap you can see  you can see the only two options which are used in the column of romantic

in the next step x and y are defined by splitting the data.

In [7]:
X = df.loc[:,'age':'absences']
y = df['romantic']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

## Training the algorithm

In [8]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=1, n_estimators=100) #RF is a random algorithm, so to get the same results we need to use random_state
rf = rf.fit(X_train, y_train)

In [9]:
rf.score(X_test,y_test)

0.6153846153846154

### Evaluating the model
by making a confusion matric and calculating the accuracy we can evaluate the model.

In [10]:
rf.classes_

array(['no', 'yes'], dtype=object)

we now see (again) the two options

In [11]:
y_pred = rf.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_pred) #creates a "confusion matrix"
cm = pd.DataFrame(cm, index=['no fraud (actual)', 'fraud (actual)'], columns = ['no fraud (pred)', 'fraud (pred)']) #label and make df
cm

                   no fraud (pred)  fraud (pred)
no fraud (actual)               98            30
fraud (actual)                  45            22

In [12]:
22/52

0.4230769230769231